<!-- the display immediately after a checkin -->
<div id="created_container">
  <div class="created_container_header">
    <p class="site1_title">
       <b>
         <%= @checkin.name %>
       </b>
    </p>
    <%= @checkin.description %>
  </div>

  <i id="back_button" class="fa fa-window-close" aria-hidden="true"></i>
  <!-- <div id="back_button" class="back-button"></div> -->

  <hr>

  <br>
  <div class="site-1">
    <div class="notice"><%= flash.now[:notice] %></div>
  	<span style="font-size:24px"><%= @checkin.name %></span><br>
  	<%= simple_format(@checkin.comment) %><br> <!-- simple_format(..) converts \n to line breaks in html -->
  	
  	<% if @checkin.image_file_name %>
  		<%= image_tag @checkin.image.url(:medium) %>
  	<% end %>
  	
    <span style="font-size:12px">&#149;<%= @checkin.created_at.strftime("%b %e, %Y %l:%M %p") %></span><br>
  </div>
</div>
