<div class="content_header">
  <p class="site1_title">
    <b>
      <%= @location.name %>
    </b>
  </p>

  <i id="back_button" class="fa fa-window-close" aria-hidden="true"></i>
    <%= @location.description %>
  <hr/>
</div>

<div id="site-1">
  <%= render 'form' %>

  <br>
  <% @location.checkins.reverse_order.each do |f| %>
    <span style="font-size:25px"><%= f.name %></span><br>
       <%= simple_format(f.comment) %>
       <% if f.image_file_name %>
       		<%= image_tag f.image.url(:medium) %><br>
       <% end %>
       <span style="font-size:12px">&#149;<%= f.created_at.strftime("%b %e, %Y %l:%M %p") %></span><br>
    <br>
  <% end %>
</div>
