<div class="content_header">
  <p class="site1_title">
    <b>
      <%= @location.name %>
    </b>
  </p>
  <!-- for mobile size only -->
  <button id="back_button" type="button" class="btn btn-default btn-sm">Back to map view</button>
  <p class="site1_desc">
    <b>
      <%= @location.description %>
    </b>
  </p>
  <hr/>
</div>

<div id="site-1">
  <%= render 'form' %>

  <br>
  <% @location.checkins.reverse_order.each do |f| %>
    <span style="font-size:25px"><%= f.name %></span><br>
       <%= simple_format(f.comment) %>
       <% if f.image %>
       		<%= image_tag f.image.url(:square) %><br>
       <% end %>
       <span style="font-size:12px">&#149;<%= f.created_at.strftime("%b %e, %Y %l:%M %p") %></span><br>
    <br>
  <% end %>
</div>
