<!DOCTYPE html>
<html>
<head>
  <title>On The Road: Oakland</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset='utf-8' />
  <link href='https://fonts.googleapis.com/css?family=Fascinate|Poller+One|Josefin+Sans:600|Varela+Round|Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>

	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <script>
		// google analytics
  </script>
</head>

<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="nav_bird" src="assets/oakland-oak.png"></a>
      <a class="navbar-brand nav_title" href="/">On The Road: <span class="subtitle">The Oakland Project</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="howitworks_modal" data-toggle="modal" data-target="#howItWorksModal">How To Use This Site</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li><%= link_to 'View All Entries', all_checkins_path%></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="about_modal" data-toggle="modal" data-target="#aboutModal">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<!-- Modal 1 - How It Works -->
<div class="modal fade" id="howItWorksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">How to Use This Site</h4>
      </div>
      <div class="modal-body">
        <p>There are 2 ways to navigate this site when checking in at a Station:</p>
        <ol>
          <li>By clicking/tapping on a marker on the map that corresponds to your current location in the City.</li>
          <li>By selecting the Station from 'The Stations' dropdown in the top nav bar.</li>
        </ol>
        <p>Enter your name and comment in the form and hit submit (hit the (?) for a comment tip!). Your check-in will be immediately saved.</p>
        <p>Upload a photo from your phone or tablet by clicking the 'Choose photo' button, browse to the correct folder and click upload, or take a photo with your camera and click upload.</p>
        <p><em><b>If you're submitting a photo, ONLY TAP THE SUBMIT BUTTON ONCE. And be patient. Our uploader can take some time, especially if the photo's large.</b></em></p>
        <br>
        <h3>Visiting after the hike is over?</h3>
        <p>There are 3 ways to navigate the comments on the site:</p>
        <ol>
          <li>Via the markers on the map.</li>
          <li>Via Stations dropdown in the top nav.</li>
          <li>Via "All the checkins" link just next to it. Filter your results by station!</li>
        </ol>
        <p>Thanks for visiting and/or participating in On The Road: The Scenic 49!</p>
        <p>~ Peter and Chris</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 - About -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">On The Road</h4>
      </div>
      <div class="modal-body">

				<p>In 2016-2017 the <a href="http://mobileartsplatform.wordpress.com/">Mobile Arts Platform</a> (Artists Peter Foucault and Chris Treggiari)) is collaborating with <a href="http://greatwallofoakland.org/">Great Wall of Oakland</a> (GWO) and Bay Area artist, curator and educator Victoria Heilweil to create On the Road, a project that invites Oakland residents to share their voice on topics about and related to resident migrations currently happening in Oakland. This migration takes many forms, from long term residents being displaced from their neighborhoods to new residents filling the void left by these shifts. This project will explore how this current migration of residents affects the identity, culture, education, class disparity, and housing needs, of Oakland.  In direct response to rents skyrocketing, new businesses and startups moving in, and many residents being displaced, we will provide a series of daytime/nighttime pop-up events which will map and archive this social migration through mobile nighttime projections and an on-line mapping platform that will be presented in Oakland neighborhoods. This project is made possible in part from a recent grant from the Wattis Family Foundation</p>

				<p>First, On the Road will utilize video projections and a mobile video screening unit, along with digital and analog methods to amplify community voices. We will transform a classic 1963 Ford Falcon van into a community engagement tool that will travel throughout Oakland exploring the changes happening in this rapidly evolving city. A key component will be screening large-scale video projections at the Great Wall of Oakland, a 100'x100' projection space on the side of a building near the intersection of Telegraph and Grand Avenue in Uptown Oakland. This will provide a platform to chart this social change and community voices through free video screenings featuring films by local artists exploring relevant themes. The van will be retrofitted to include a video projector mount on the roof, a portable sound system that folds out from the rear doors, work stations that emerge from the side of the van, and a recording booth created inside for collecting participant interviews and broadcasting the content via a podcast. These crowd sourced interactions allow us to initiate an inclusive dialog with participants sparking conversations and creating archives based on Oakland’s complicated and changing landscape.</p>

        <b>Tentative schedule:</b>
        <ul>
          <li>Thurday, 12/2</li>
        </ul>

				 <p style="text-align:right">Website created by <a href="http://www.nicocrisafulli.com">Nico Crisafulli</a> and <a href="http://bkahler.github.io/">Bryan Kahler</a>.</p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- comment modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content commentModal">
      <div class="modal-body">
          <p style="font-size:20px"><b>Please comment on the following two questions:</b></p>
          <p style="font-size:18px"><li><em>My neighborhood is unique because...</em></li>
                                    <li><em>How is my neighborhood changing?</em></li></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>

  </div>
</div>


</body>
</html>
